Choper.Elk/bin/
Choper.Elk/obj/
Choper.Elk.Buckhorn/bin/
Choper.Elk.Buckhorn/obj/
Choper.Elk.Test.BLL/bin/
Choper.Elk.Test.BLL/obj/
Choper.Elk.Test.Contract/bin/
Choper.Elk.Test.Contract/obj/
Choper.Elk.Test.DAL/bin/
Choper.Elk.Test.DAL/obj/
Choper.Elk.Test.Model/bin/
Choper.Elk.Test.Model/obj/